body{
    background-color: #ace600;
}

#calculator{
    position: relative;
    margin: auto;
    background-color: #6699ff;
    border-radius: 1.5vw;
    top: 7vw;
}


p{
    position: relative;
    color: white;
    font-weight: bolder;
    text-align: center;
    top: 2.5vw;
    font-family: Helvetica;
    font-size: 1.7vw;
}

#input{
     position: relative;
     width: 28vw;
     height: 3vw;
     background-color:  white;
     margin: auto;
     top: 3vw;
     text-align: right;
     padding-top: 1vw;
     color: green;
     font-family: Arial;
     font-weight: bolder;
     font-size: 1.5vw;
 }

#innerkeyboard{
    position: relative;
    background-color: blue;
    margin: auto;
    height: auto;
    top: 6vw;

}

.keys{
    display: inline-block;
    background-color: #ffff99;
    
    font-weight: bold;
    margin: 0 auto;

}

#dot1{
   font-size: 3.7vw;
   position:relative;
   top: -0.7vw;
}


.in{
    position: relative;
    top: 1.7vw;
    left: 2.5vw;
    float: left;
    color: green;
    font-family: Arial;
    font-size: 1.5vw;
}