body{
    background-color: black;
}


#title{
  font: 400 80px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ff99ff;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-weight: bold;
  position: relative;
  top: 20px;
  margin: auto;
}

h6{
    position: relative;
    text-height: auto;
    font-size: 140%;
    color: white;
    font-weight: lighter;
    font-family: Arial;
    display: inline;
    top: 45px;
    font-weight: bold;

}

#left-button{
    position: relative;
    display:inline;
    top: 50px;
}


#right-button{
    display:inline;
    position: relative;
    top: 50px;
}

h1{
    display:inline;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-weight: lighter;
    position: relative;
    top: 20px;
}

#circle{
    position: relative;
    height: 420px;
    width: 420px;
    border-radius: 100%;
    border: solid yellow 20px;
    top: 80px;
    background-color: #9999ff;
}

#innercircle{
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    border: solid black 10px;
   
/*     background: -webkit-linear-gradient(bottom, #660033 20%, #60401f 80%); /* For Safari 5.1 to 6.0 */ */
    background: -o-linear-gradient(bottom, #73e600 20%, yellow 80%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #73e600 20%, yellow 80%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #73e600 20%, yellow 80%); /* Standard syntax */
}

#session{
    position:relative;
    font-size: 350%;
    top: 80px;
    color: green;
    font-weight: bold;
}


#time{
    position:relative;
    font-size: 390%;
    top: 70px;
    color: purple;
    font-weight: bold;

}
