body{
    background-color: #4d4d4d;
}


#title{
  font: 400 80px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-weight: bolder;
  position: relative;
  top: 20px;
  margin: auto;
}

h6{
    position: relative;
    text-height: auto;
    font-size: 80%;
    color: white;
    font-weight: lighter;
    font-family: Arial;
    display: inline;
    top: 45px;

}

#left-button{
    position: relative;
    display:inline;
    top: 50px;
}

h2{
    display:inline;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-weight: lighter;
}

#right-button{
    display:inline;
    position: relative;
    top: 50px;
}

h1{
    display:inline;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-weight: lighter;
}

#circle{
    position: relative;
    height: 320px;
    width: 320px;
    border-radius: 100%;
    border: solid #73e600 3px;
    top: 80px;
}

#innercircle{
    position: relative;
    height: 310px;
    width: 310px;
    border-radius: 100%;
    background-color: #73e600;
    top: -40px;
    font-family: sans-serif;
    font-weight: lighter;
    background: -webkit-linear-gradient(#73e600, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#73e600, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#73e600, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#73e600, yellow); /* Standard syntax */
}

#session{
    position:relative;
    font-size: 280%;
    top: 80px;
    color: white;
}


#time{
    position:relative;
    font-size: 390%;
    top: 70px;
    color: white;

}