body{
	background: url(grass.jpg);
	background-size: 100%;
	z-index: -1;
}

#outer_circle{
	position: absolute;
    left: 26.5%;
    top: 10%;
	height: 700px;
	width: 700px;
	background: grey;
	border-radius: 100%;
}

#outer_screen{
	position:absolute;
	background-color: grey;
	height: 100px;
	width: 150px;
	border-radius: 10% 10%;
	top: 200px;
	left: 40px;
}

#inner_screen{
	position: absolute;
	background-color: #660000;
	height: 80px;
	width: 130px;
	border-radius: 10% 10%;
	top:10px;
	left: 10px;
	color: red;
	font-size: 500%;

}

#display{
	text-align: center;
	position:relative;
	top: -10px;
}


#simon{
	position:absolute;
	top: 46px;
	left: 30px;
	font-weight: bold;
	font-size: 700%;
	font-family: Arial Black;
}

#trademark{
	position: absolute;
	top: 69px;
	left: 354px;
}

#green{
	background-color: green;
	position: absolute;
	height: 325px;
	width: 325px;
	border-radius: 100% 5% 5% 5%;
	top: 20px;
	left: 20px;
	z-index: 1;
}

#red{
	background-color: red;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 100% 5% 5%;
	top: 20px;
	left: 355px;
	z-index: 1;
}

#yellow{
	background-color: yellow;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 5% 5% 100%;
	top: 355px;
	left: 20px;
	z-index: 1;
}

#blue{
	background-color: blue;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 5% 100% 5%;
	top: 355px;
	left: 355px;
	z-index: 1;
}

#count{
	position:absolute;
	top: 300px;
	left: 76px;
	font-size: 160%;
	font-weight: bolder;
}
#inner_gray{
	background-color: grey;
	position:absolute;
	left: 18%;
	top: 18%;
	height:450px;
	width: 450px;
	border-radius: 100%;
	z-index: 2;
}

#control_circle{
	background-color: white;
	position:absolute;
	height: 410px;
	width: 410px;
	border-radius: 100%;
	z-index: 3;
	left: 20px;
	top: 20px;
}