body{
	background-color: #ccccff;
}

html{
	background-color: #ffff33;
}

#outer_circle{
	position: absolute;
    left: 26.5%;
    top: 10%;
	height: 700px;
	width: 700px;
	background: #800080;
	border-radius: 100%;
}

#highlight-red{
    background-color: red;
}

#highlight-blue{
    background-color: blue;
}

#highlight-yellow{
    background-color: yellow;
}

#highlight-green{
    background-color: #ffb366;

}

#switchbackground{
    position:absolute;
	background-color: #cc66ff;
	border: 5px solid red;
	width: 130px ;
	height: 40px;
	top: 330px;
	left: 140px;
}


#switchoff{
	position: absolute;
	padding-top: 8%;
	width: 60px;
	height:30px;
	background-color: #990099;
	visibility: visible;
}

#switchon{
	position: absolute;
	padding-top: 8%;
	width: 60px;
	height:30px;
	left: 60px;
	background-color: #ffff00;
    visibility: hidden;
}


#outer_screen{
	position:absolute;
	background-color: #800080;
    height: 100px;
	width: 150px;
	border-radius: 10% 10%;
	top: 190px;
	left: 40px;
}

#strict_alert{
   position: absolute;
   background-color: grey;
   height: 15px;
   width: 15px;
   border-radius: 100%;
   top: 177px;
   left: 320px;

}


#inner_screen{
	position: absolute;
	background-color: #cc66ff;
	height: 80px;
	width: 130px;
	border-radius: 10% 10%;
	top:10px;
	left: 10px;
	font-size: 500%;

}

#display{
	color: #e6b800;
	text-align: center;
	position:relative;
	top: -10px;
}

#outer_start{
	background-color: #800080;
	height: 80px;
	width: 80px;
	top: 200px;
	left: 200px;
	position:absolute;
	border-radius: 100%;
}

#inner_start{
    background-color: #ff9900;
    width:60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 10px;
    left: 10px;
    pointer-events: none;
}

#outer_strict{
	background-color: #800080;
	height: 80px;
	width: 80px;
	top: 200px;
	left: 288px;
	position:absolute;
	border-radius: 100%;
}

#inner_strict{
    background-color: yellow;
    width:60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 10px;
    left: 10px;
    pointer-events: none;
}

#simon{
	position:absolute;
	top: 46px;
	left: 30px;
	font-weight: bold;
	font-size: 700%;
	font-family: Arial Black;
}

#trademark{
	position: absolute;
	top: 69px;
	left: 354px;
}

.green{
	background-color: #ff8000;
	position: absolute;
	height: 325px;
	width: 325px;
	border-radius: 100% 5% 5% 5%;
	top: 20px;
	left: 20px;

}

#start{
    position:absolute;
	top: 290px;
	left: 206px;
	font-size: 160%;
	font-weight: bolder;
}

#strict{
	position:absolute;
	top: 290px;
	left: 289px;
	font-size: 160%;
	font-weight: bolder;
}

#off{
	position:absolute;
	top: 340px;
	left: 100px;
	font-size: 120%;
	font-weight: bolder;

}

#on{
	position:absolute;
	top: 340px;
	left: 275px;
	font-size: 120%;
	font-weight: bolder;
	
}

.red{
	background-color: #b30000;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 100% 5% 5%;
	top: 20px;
	left: 355px;

}

.yellow{
	background-color: #b3b300;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 5% 5% 100%;
	top: 355px;
	left: 20px;
}

.blue{
	background-color: #004d99;
	position:absolute;
	height: 325px;
	width: 325px;
	border-radius: 5% 5% 100% 5%;
	top: 355px;
	left: 355px;
}

#count{
	position:absolute;
	top: 290px;
	left: 76px;
	font-size: 160%;
	font-weight: bolder;
}
#inner_gray{
	background-color: #800080;
	position:absolute;
	left: 18%;
	top: 18%;
	height:450px;
	width: 450px;
	border-radius: 100%;
	z-index: 2;
}

.fourcolors{
	pointer-events: none;
}


#control_circle{
	background-color: #ffff99;
	position:absolute;
	height: 410px;
	width: 410px;
	border-radius: 100%;
	z-index: 3;
	left: 20px;
	top: 20px;
}