body{
    height: 100%;
    background-color: #999999;
}

#board{
    height: 504px;
    width: 504px;
    background-color: black;
    margin: auto;
    margin-top: 75px;
}

#popup{
    position: absolute;
    visibility: visible;
    top: 120px;
    background-color: white;
    height: 240px;
    width: 580px;
    left: 347px;
    border-radius: 10px;
}

#blackdiv{
    position: relative;
    background-color: black;
    height: 150px;
    width: 520px;
    
    margin: auto;
}

#tictactoe{
    position: relative;
    top: 20px;
    left: -120px;
    color: white;
    font-size: 230%;
    font-weight: lighter;
    font-family: Arial;
}

h1{
    position: absolute;
    color: white;
    top: 90px;
    margin-left: 227px;
    font-size: 90%;
    font-weight: lighter;
}

#XObuttons{
    position: relative;
    top: 10px;
    left: 440px;
}

#X{
    
     top: 20px;
     display: inline-block;
     border: 1px solid #bfbfbf;
     height: 27px;
     width: 35px;
     border-radius: 8px;
     color:#bfbfbf;
     padding-top: 8px;
}

#O{
    display: inline-block;
     margin-left: 15px;
     border: 1px solid #bfbfbf;
     height: 27px;
     width: 35px;
     border-radius: 8px;
     color:#bfbfbf;
     padding-top: 8px;
}

circle{
    visibility: hidden;
}

.lines{
    visibility: hidden;
}

.toggled{
    visibility: visible;
}

#q11{
    height:166px;
    width:166px;
    background-color: #ffff66;
    display: inline-block;
}

#q12{
    height:166px;
    width:166px;
    background-color: grey;
    display: inline-block;
}

#q13{
    position: relative;
    height:166px;
    width:166px;
    background-color: #ffff66;
    left: 340px;
    top: -170px;
}

#q31{
    position:relative;
    height:166px;
    width:166px;
    background-color: #ffff66;
    top:-496px;
}

#q32{
    position: relative;
    height:166px;
    width:166px;
    background-color: grey;
    left: 170px;
    top: -662px;
}

#q33{
    position: relative;
    height:166px;
    width:166px;
    background-color: #ffff66;
    left: 340px;
    top: -828px;
}


#q21{
    position:relative;
    height:166px;
    width:166px;
    background-color: grey;
    top: -167px;
}

#q22{
    position: relative;
    height:166px;
    width:166px;
    background-color: #ffff66;
    top:-334px;
    left: 170px;
}

#q23{
    position: relative;
    height:166px;
    width:166px;
    background-color: grey;
    top:-500px;
    left: 340px;
}