body{
    height: 100%;
    background-color: #999999;
}

#board{
    height: 504px;
    width: 504px;
    background-color: black;
    margin: auto;
    margin-top: 75px;   
}

#popup{
    position: absolute;
    visibility: visible;
    top: 210px;
    background-color: white;
    height: 240px;
    width: 580px;
    left: 430px;
    border-radius: 10px;
    z-index: 7;
}

#alrdyPlacedDiv{
    position: absolute;
    visibility: hidden;
    top: 210px;
    background-color: yellow;
    height: 240px;
    width: 580px;
    left: 430px;
    border: 20px double red;
    border-radius: 10px;
    z-index: 8;
    color: blue;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;    
}

#placedSpan{
     position: relative;
     top: 40%;
}

#placedXDiv{
    position: absolute;
    color: green;
    background-color: pink;
    top: 10px;
    left: 520px;
    height: 37px;
    width: 40px;
    border-radius: 100%;
    padding-top: 3px;
    font-family: Arial;
    z-index: 10;
}

#blackdiv{
    position: relative;
    background-color: black;
    height: 150px;
    width: 520px;    
    margin: auto;
}

#tictactoe{
    position: relative;
    top: 20px;
    left: -120px;
    color: white;
    font-size: 230%;
    font-weight: lighter;
    font-family: Arial;
}

h1{
    position: absolute;
    color: white;
    top: 90px;
    margin-left: 227px;
    font-size: 90%;
    font-weight: lighter;
}

#XObuttons{
    position: relative;
    top: 10px;
    left: 440px;
}

#X{ 
     top: 20px;
     display: inline-block;
     border: 1px solid #bfbfbf;
     height: 27px;
     width: 35px;
     border-radius: 8px;
     color:#bfbfbf;
     padding-top: 8px;
}

#O{
    display: inline-block;
     margin-left: 15px;
     border:1px solid #bfbfbf;
     height: 27px;
     width: 35px;
     border-radius: 8px;
     color:#bfbfbf;
     padding-top: 8px;
}

circle{
    visibility: hidden;
}

.lines{
    visibility: hidden;
}

.toggled{
    visibility: visible;
}
/* .circle{
    background-color: black;
   height: 80px;
   width: 80px;
   z-index: 5;
   border-radius: 50%;
  
}

#circle1{
   position: absolute;
   top: 200px;
   left: 590px; 
}

#circle2{
   position: absolute;
   top: 200px;
   left: 760px;
}

#circle3{
  position: absolute;
   top: 375px;
   left: 590px;
}

#circle4{
  position: absolute;
   top: 375px;
   left: 760px;
} */

#q11{
    height:161px;
    width:161px;
    background-color: #ffff66;
    display: inline-block;
    border-radius: 25px;
}

#q12{
    height:161px;
    width:161px;
    background-color: grey;
    display: inline-block;
    margin-left: 6px;
    border-radius: 25px;
}

#q13{
    position: relative;
    height:161px;
    width:161px;
    background-color: #ffff66;
    left: 343px;
    top: -165px;
  border-radius: 25px;
   
}

#q21{
    position:relative;
    height:161px;
    width:161px;
    background-color: grey;
    top: -152px;
  border-radius: 25px;
}

#q22{
    position: relative;
    height:161px;
    width:161px;
    background-color: #ffff66;
    top:-314px;
    left: 172px;
    border-radius: 25px;
}

#q23{
    position: relative;
    height:161px;
    width:161px;
    background-color: grey;
    top:-475px;
    left: 343px;
    border-radius: 25px;
}

#q31{
    position:relative;
    height:161px;
    width:161px;
    background-color: #ffff66;
    top:-460px;
    border-radius: 25px;
}

#q32{
    position: relative;
    height:161px;
    width:161px;
    background-color: grey;
    left: 172px;
    top: -622px;
  border-radius: 25px;
}

#q33{
    position: relative;
    height:161px;
    width:161px;
    background-color: #ffff66;
    left: 343px;
    top: -783px;
    border-radius: 25px;
}



@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.in{
  float: left;
  position: relative;
  top: 55px;
  left:65px;
  font-family: 'Arvo';
  font-weight: bolder;
  font-size: 3em;
  color: black;
}



canvas{
    position: absolute;
    top: 55px;
    left: 445px;
    border: 20px solid red;
    border-radius: 50px;
    color: blue;
    z-index: 6;
}

#whowinsdiv{
    position: absolute;
    visibility: visible;
    top: 210px;
    background-color: #9966ff;
    height: 140px;
    width: 580px;
    left: 410px;
    border-radius: 10px;
    border: 20px solid orange;
    z-index: 5;
    color: green;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    padding-top: 5%;
    opacity: 0;
}



button{
    position: absolute;
    background-color: orange;
    color: blue;
    font-weight: 900;
    height: 40px;
    width: 120px;
    font-size: 1.1em;
    left: 1100px;
    top: 30px;
      
}

#winnername{
  color: red;
  
}